@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
* {
  font-family: "Chakra Petch", sans-serif;
  transition: 0.2s;
}

:root {
  --lime-500: #cbfe1c;
  --bg-hover: #a4ce1a;
  --dark-900: #0b0e13;
  --dark-950: #101624;
  --gray-100: #f1f1f1;
  --gray-200: #d1d5dc;
  --gray-400: #99a1af;
  --gray-700: #364153;
  --gray-800: #1e2939;
  --gray-900: #1a1a1a;
  --green-500: #0adf72;
  --slate-800: #1e2939;
  --pad: 4.6875rem;
  --pad-mid: 3.125rem;
}

*::-moz-selection {
  background-color: var(--lime-500);
  color: var(--dark-900);
}

*::selection {
  background-color: var(--lime-500);
  color: var(--dark-900);
}

html {
  scroll-padding-top: 4.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Days One", sans-serif;
}

.section-name-global {
  margin-bottom: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
}
.section-name-global > span:first-child {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1875rem;
  color: var(--lime-500);
}
.section-name-global > span:first-child::after, .section-name-global > span:first-child::before {
  content: "";
  position: absolute;
  width: 3.75rem;
  height: 0.125rem;
  border-radius: 62.4375rem;
  top: 50%;
  transform: translateY(-50%);
}
.section-name-global > span:first-child::after {
  background-image: linear-gradient(to right, var(--lime-500) 0% 50%, transparent);
  right: 0;
  transform: translate(calc(100% + 0.9375rem), -50%);
}
.section-name-global > span:first-child::before {
  background-image: linear-gradient(to left, var(--lime-500) 0% 50%, transparent);
  left: 0;
  transform: translate(calc(-100% - 0.9375rem), -50%);
}
.section-name-global h2,
.section-name-global p {
  margin-bottom: 0;
}
.section-name-global h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--gray-100);
}
.section-name-global p {
  font-size: 3rem;
  font-weight: 700;
  color: var(--gray-100);
}
.section-name-global p span {
  color: var(--lime-500);
}
.section-name-global span.bottom-span {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--gray-400);
}

#nav.navbar.bg-body-tertiary {
  background-color: var(--dark-900) !important;
  border-bottom: 0.125rem solid #1c2430;
}
#nav.navbar.bg-body-tertiary .container .navbar-brand {
  color: var(--lime-500);
  font-weight: 700;
}
#nav.navbar.bg-body-tertiary .container .navbar-brand i {
  margin-right: 0.625rem;
}
#nav.navbar.bg-body-tertiary .container .navbar-toggler {
  color: white !important;
  border: none;
  box-shadow: none;
}
#nav.navbar.bg-body-tertiary .container .navbar-toggler:hover {
  color: var(--lime-500) !important;
}
#nav.navbar.bg-body-tertiary .container #navbarSupportedContent ul li a {
  color: #e7e7e7 !important;
  font-weight: 400;
}
#nav.navbar.bg-body-tertiary .container #navbarSupportedContent ul li .active,
#nav.navbar.bg-body-tertiary .container #navbarSupportedContent ul li a:hover {
  color: var(--lime-500) !important;
}
#nav.navbar.bg-body-tertiary .container #navbarSupportedContent div i {
  color: var(--gray-100);
  font-size: 1.0625rem;
  cursor: pointer;
}
#nav.navbar.bg-body-tertiary .container #navbarSupportedContent div i:hover {
  color: var(--lime-500);
}
#nav.navbar.bg-body-tertiary .container #navbarSupportedContent div button {
  background-color: var(--lime-500);
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark-900);
  transition: 0.5s;
}
#nav.navbar.bg-body-tertiary .container #navbarSupportedContent div button:hover {
  background-color: var(--bg-hover);
}
#nav.navbar.bg-body-tertiary .container #navbarSupportedContent div button:hover::after {
  left: 100%;
}
#nav.navbar.bg-body-tertiary .container #navbarSupportedContent div button::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
  left: -100%;
  top: 0;
  z-index: 999999;
  transition: 0.5s;
}

#main #header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85)), url(../images/image01.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#main #header .container > div .leftHeader {
  width: 51%;
}
#main #header .container > div .leftHeader h1 {
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--gray-100);
}
#main #header .container > div .leftHeader h1 span {
  font-family: "Days One", sans-serif;
}
#main #header .container > div .leftHeader h1 span:first-child {
  color: var(--lime-500);
}
#main #header .container > div .leftHeader p {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: var(--gray-200);
  max-width: 85%;
}
#main #header .container > div .leftHeader .btnHeader a {
  padding: 1rem 2.125rem;
  border: 0.125rem solid var(--lime-500);
  color: var(--dark-900);
  font-weight: 700;
  background-color: var(--lime-500);
}
#main #header .container > div .leftHeader .btnHeader a:hover::after {
  left: 100%;
}
#main #header .container > div .leftHeader .btnHeader a:hover {
  background-color: var(--bg-hover);
  border-color: var(--bg-hover);
}
#main #header .container > div .leftHeader .btnHeader a::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
  left: -100%;
  top: 0;
  z-index: 999999;
  transition: 0.5s;
}
#main #header .container > div .leftHeader .btnHeader a:last-child {
  background-color: transparent;
  color: var(--lime-500);
  border-color: var(--lime-500);
}
#main #header .container > div .leftHeader .btnHeader a:last-child:hover {
  background-color: var(--lime-500);
  color: var(--dark-900);
}
#main #header .container > div .rightHeader {
  width: 49%;
}
#main #header .container > div .rightHeader picture {
  padding: 0.1875rem;
  height: 25rem;
  background-image: linear-gradient(to right, var(--lime-500), var(--green-500));
  border-radius: 0.9375rem;
}
#main #header .container > div .rightHeader picture img {
  border-radius: 0.9375rem;
}
#main #header .container > div .rightHeader .cardHeader {
  transform: translate(-1.5625rem, -3.75rem);
  background-color: var(--dark-900);
  padding: 1.25rem 1.75rem;
  border: 0.0625rem solid var(--gray-700);
}
#main #header .container > div .rightHeader .cardHeader i {
  color: var(--lime-500);
  font-size: 1.1875rem;
}
#main #header .container > div .rightHeader .cardHeader .cardContent span {
  font-size: 0.75rem;
  color: var(--gray-400);
}
#main #header .container > div .rightHeader .cardHeader .cardContent p {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--gray-100);
}
#main #OUR-GAMES {
  padding-block: var(--pad);
  background-color: var(--dark-900);
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner {
  margin-bottom: 3.125rem;
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner {
  height: 18.75rem;
  border-radius: 1.25rem;
  border: 0.1875rem solid transparent;
  cursor: pointer;
  transition: 0.5s;
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner:hover {
  border-color: var(--lime-500);
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner img {
  -o-object-position: center;
  object-position: center;
  transition: 0.5s;
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner:hover img {
  transform: scale(1.08);
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner .layer-content {
  inset: 0;
  background-image: linear-gradient(transparent 40%, var(--lime-500));
  opacity: 0;
  transition: 0.5s;
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner .layer-content .top {
  transform: translateY(-6.25rem);
  transition: 0.5s;
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner .layer-content .top span {
  color: var(--gray-100);
  background-color: rgba(0, 0, 0, 0.511);
  backdrop-filter: blur(1.25rem);
  padding: 0.1875rem 0.9375rem;
  font-size: 0.75rem;
  font-weight: 600;
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner .layer-content .top span i {
  margin-right: 0.3125rem;
  color: var(--lime-500);
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner .layer-content > span {
  color: var(--dark-900);
  font-size: 1.125rem;
  font-weight: 700;
  transform: translateY(12.5rem);
  max-width: 85%;
  transition: 0.5s;
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner .layer-content:hover span, #main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner .layer-content:hover .top {
  transform: translateY(0);
}
#main #OUR-GAMES .container #carouselExampleAutoplaying .carousel-inner .carousel-item .row > div .inner:hover .layer-content {
  opacity: 1;
}
#main #OUR-GAMES .container #carouselExampleAutoplaying div:last-of-type .btns {
  display: flex;
  gap: 0.625rem;
}
#main #OUR-GAMES .container #carouselExampleAutoplaying div:last-of-type .btns button {
  position: static;
  width: 3.4375rem;
  height: 3.4375rem;
  border: 0.125rem solid var(--gray-700);
  font-size: 1.25rem;
  opacity: 1;
  color: var(--gray-400);
}
#main #OUR-GAMES .container #carouselExampleAutoplaying div:last-of-type .btns button:hover,
#main #OUR-GAMES .container #carouselExampleAutoplaying div:last-of-type .btns button .active {
  border-color: var(--lime-500);
  color: var(--lime-500);
}
#main #OUR-GAMES .container #carouselExampleAutoplaying div:last-of-type a {
  color: var(--lime-500);
  border: 0.125rem solid var(--lime-500);
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1.125rem 2.125rem;
  display: block;
}
#main #OUR-GAMES .container #carouselExampleAutoplaying div:last-of-type a:hover {
  color: var(--dark-900);
  background-color: var(--lime-500);
}
#main #WHAT-WE-DO {
  padding-block: var(--pad);
  background-color: var(--dark-900);
}
#main #WHAT-WE-DO .container .row > div .inner {
  background-color: var(--gray-900);
  border: 0.0625rem solid var(--gray-800);
  aspect-ratio: 1/1;
  transition: 0.5s;
}
#main #WHAT-WE-DO .container .row > div .inner:hover {
  border-color: var(--lime-500);
}
#main #WHAT-WE-DO .container .row > div .inner:hover .icon {
  background-color: var(--lime-500);
  color: var(--gray-800);
}
#main #WHAT-WE-DO .container .row > div .inner:hover .layer-1 {
  transform: translate(60%, 60%);
  opacity: 1;
}
#main #WHAT-WE-DO .container .row > div .inner:hover .layer-2 {
  transform: translate(-60%, -60%);
  opacity: 1;
}
#main #WHAT-WE-DO .container .row > div .inner .icon {
  height: 4.0625rem;
  width: 4.0625rem;
  background-color: var(--gray-800);
  margin-bottom: 0.875rem;
  color: var(--lime-500);
  font-size: 1.5625rem;
}
#main #WHAT-WE-DO .container .row > div .inner h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--gray-100);
}
#main #WHAT-WE-DO .container .row > div .inner .layer {
  width: 0;
  height: 0;
  border-style: solid;
  transform: rotate(0deg);
  opacity: 0;
}
#main #WHAT-WE-DO .container .row > div .inner .layer-1 {
  border-width: 1.5625rem 1.5625rem 0rem 0rem;
  border-color: var(--lime-500) transparent transparent transparent;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}
#main #WHAT-WE-DO .container .row > div .inner .layer-2 {
  border-width: 0rem 0rem 1.5625rem 1.5625rem;
  border-color: transparent transparent var(--lime-500) transparent;
  bottom: 0;
  right: 0;
  transform: translate(100%, 100%);
}
#main #scroll-WHAT-WE-DO {
  position: relative;
  background-color: var(--dark-900);
  background-image: radial-gradient(var(--lime-500), transparent, transparent);
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}
#main #scroll-WHAT-WE-DO::after {
  content: "";
  position: absolute;
  width: 37.5rem;
  height: 0.125rem;
  background-image: linear-gradient(90deg, transparent, var(--lime-500) 10%, var(--lime-500) 90%, transparent);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  box-shadow: 0rem 0rem 0.625rem 0.125rem var(--lime-500);
}
#main #scroll-WHAT-WE-DO .scroll {
  display: flex;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, transparent);
  mask-image: linear-gradient(to right, transparent, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, transparent);
}
#main #scroll-WHAT-WE-DO .scroll .group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  padding-right: 0.9375rem;
}
#main #scroll-WHAT-WE-DO .scroll .group img {
  height: 6.25rem;
  aspect-ratio: 1/1;
}
#main #scroll-WHAT-WE-DO .scroll-1 .group {
  animation: spin_R_TO_L 20s linear infinite;
}
#main #scroll-WHAT-WE-DO .scroll-2 .group {
  transform: translateX(-100%);
  animation: spin_L_TO_R 20s linear infinite;
}
#main #OUR-TEAM {
  padding-block: var(--pad);
  background-color: var(--dark-900);
}
#main #OUR-TEAM .container .row > div .inner:hover .layer-2 {
  clip-path: inset(0 0 0 0);
}
#main #OUR-TEAM .container .row > div .inner .layers img {
  width: 100%;
  aspect-ratio: 1/1;
}
#main #OUR-TEAM .container .row > div .inner .layers .layer-content {
  bottom: 1.25rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  align-items: flex-end;
}
#main #OUR-TEAM .container .row > div .inner .layers .layer-content p,
#main #OUR-TEAM .container .row > div .inner .layers .layer-content h4 {
  margin-bottom: 0;
  transition: 0.5s;
}
#main #OUR-TEAM .container .row > div .inner .layers .layer-content .left h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}
#main #OUR-TEAM .container .row > div .inner .layers .layer-content .left p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #b5b5b5;
  margin-block: 0.3125rem -0.3125rem;
}
#main #OUR-TEAM .container .row > div .inner .layers .layer-content .left span {
  font-size: 0.75rem;
  font-weight: 400;
  color: #818181;
  transition: 0.5s;
}
#main #OUR-TEAM .container .row > div .inner .layers .layer-content p:last-child {
  position: absolute;
  top: 32%;
  left: 80%;
  transform: translateY(-50%);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #b5b5b5;
  transform: rotate(90deg);
  width: -moz-fit-content;
  display: inline-block;
  margin-right: -1.3125rem;
}
#main #OUR-TEAM .container .row > div .inner .layer-1 {
  position: relative;
  filter: grayscale(100%);
  z-index: 2;
}
#main #OUR-TEAM .container .row > div .inner .layer-2 {
  position: absolute;
  clip-path: inset(100% 0 0 0);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  transition: 0.6s;
}
#main #OUR-TEAM .container .row > div .inner .layer-2 .left h4 {
  color: white;
}
#main #OUR-TEAM .container .row > div .inner .layer-2 .left p {
  color: var(--lime-500) !important;
}
#main #OUR-TEAM .container .row > div .inner .layer-2 .left span {
  color: var(--gray-400) !important;
}
#main #OUR-TEAM .container .row > div .inner .layer-2 p:last-child {
  color: var(--lime-500) !important;
}
#main #OUR-TEAM .container .row > div:not(#main #OUR-TEAM .container .row > div:first-child) .inner .layers .layer-content p:last-child {
  left: 85%;
}
#main #CONTACT-US {
  padding-block: var(--pad);
  background-color: var(--dark-950);
}
#main #CONTACT-US .row > div:first-child .inner {
  gap: 1.875rem;
}
#main #CONTACT-US .row > div:first-child .inner .cards:not(.cards:last-child) {
  background-color: var(--slate-800);
  padding: 1.875rem 1.875rem 3.4375rem;
}
#main #CONTACT-US .row > div:first-child .inner .cards:not(.cards:last-child) .icon {
  height: 4rem;
  width: 4rem;
  background-color: var(--lime-500);
  font-size: 1.5625rem;
}
#main #CONTACT-US .row > div:first-child .inner .cards:not(.cards:last-child) .content h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: var(--gray-100);
  margin-bottom: 0;
}
#main #CONTACT-US .row > div:first-child .inner .cards:not(.cards:last-child) .content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray-400);
  margin-bottom: 0;
}
#main #CONTACT-US .row > div:first-child .inner .cards:last-child {
  padding: 1.875rem;
  background-image: linear-gradient(to right, var(--lime-500), var(--green-500));
}
#main #CONTACT-US .row > div:first-child .inner .cards:last-child h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--dark-900);
}
#main #CONTACT-US .row > div:first-child .inner .cards:last-child span {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark-900);
}
#main #CONTACT-US .row > div:first-child .inner .cards:last-child .social div {
  height: 3rem;
  aspect-ratio: 1/1;
  background-color: var(--dark-900);
  cursor: pointer;
}
#main #CONTACT-US .row > div:first-child .inner .cards:last-child .social div:hover {
  opacity: 0.8;
}
#main #CONTACT-US .row > div:first-child .inner .cards:last-child .social div i {
  font-size: 1.25rem;
  color: var(--lime-500);
}
#main #CONTACT-US .row > div:last-child form {
  background-color: var(--slate-800);
  padding: 1.875rem;
}
#main #CONTACT-US .row > div:last-child form h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--gray-100);
  margin-bottom: 1.25rem;
}
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) {
  margin-bottom: 1.25rem;
}
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: var(--gray-200);
  margin-bottom: 0.375rem;
}
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div input,
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div select,
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div textarea {
  width: 100%;
  padding: 0.6875rem 0.9375rem;
  border: 0;
  outline: none;
  background-color: var(--gray-700);
  color: white;
  border: 0.1875rem solid #3b4656;
  font-size: 0.9375rem;
  resize: none;
}
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div input option,
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div select option,
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div textarea option {
  color: #d9dadc;
  font-size: 0.875rem;
}
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div input::-moz-placeholder,
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div select::-moz-placeholder,
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div textarea::-moz-placeholder {
  color: #878e98;
}
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div input::-moz-placeholder, #main #CONTACT-US .row > div:last-child form > div:not(.bottom) div select::-moz-placeholder, #main #CONTACT-US .row > div:last-child form > div:not(.bottom) div textarea::-moz-placeholder {
  color: #878e98;
}
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div input::placeholder,
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div select::placeholder,
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div textarea::placeholder {
  color: #878e98;
}
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div input:focus,
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div select:focus,
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div textarea:focus {
  border-color: var(--lime-500);
}
#main #CONTACT-US .row > div:last-child form > div:not(.bottom) div textarea {
  height: 9.375rem;
}
#main #CONTACT-US .row > div:last-child form > div:nth-child(2) .left {
  padding-right: 0.75rem;
}
#main #CONTACT-US .row > div:last-child form > div:nth-child(2) .right {
  padding-left: 0.75rem;
}
#main #CONTACT-US .row > div:last-child form .checkbox {
  margin-left: 0.3438rem;
  gap: 15px;
}
#main #CONTACT-US .row > div:last-child form .checkbox input {
  transform: scale(1.8);
}
#main #CONTACT-US .row > div:last-child form .checkbox label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-400);
}
#main #CONTACT-US .row > div:last-child form button {
  width: 100%;
  padding: 0.9375rem;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: var(--lime-500);
  border: none;
  margin-bottom: 1.5625rem;
  transition: 0.5s;
}
#main #CONTACT-US .row > div:last-child form button:hover {
  background-color: var(--bg-hover);
}
#main #CONTACT-US .row > div:last-child form button:hover::after {
  left: 100%;
}
#main #CONTACT-US .row > div:last-child form button::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
  left: -100%;
  top: 0;
  z-index: 999999;
  transition: 0.5s;
}
#main #CONTACT-US .row > div:last-child form button i {
  font-size: 1rem;
  margin-left: 0.5rem;
}
#main #CONTACT-US .row > div:last-child form .bottom {
  border-top: 0.0625rem solid var(--gray-700);
}
#main #CONTACT-US .row > div:last-child form .bottom div p {
  color: var(--lime-500);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
#main #CONTACT-US .row > div:last-child form .bottom div span {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-400);
  margin-top: -0.125rem;
  display: block;
}

#footer {
  background-color: black;
  padding-block: 3.75rem;
}
#footer .container > div:first-child .box:first-child span {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--lime-500);
}
#footer .container > div:first-child .box:first-child span i {
  margin-right: 0.3125rem;
}
#footer .container > div:first-child .box:first-child p {
  margin-block: 1.0625rem 1.375rem;
  color: var(--gray-400);
}
#footer .container > div:first-child .box:first-child .social a {
  color: var(--gray-400);
}
#footer .container > div:first-child .box:first-child .social a:hover {
  color: var(--lime-500);
}
#footer .container > div:first-child .box:first-child .social a i {
  font-size: 1.25rem;
}
#footer .container > div:first-child .box:not(.box:first-child) h5 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--gray-100);
  margin-bottom: 1.125rem;
}
#footer .container > div:first-child .box:not(.box:first-child) .links a {
  text-decoration: none;
  color: var(--gray-400);
  width: -moz-fit-content;
  width: fit-content;
}
#footer .container > div:first-child .box:not(.box:first-child) .links a:hover {
  color: var(--lime-500);
}
#footer .container .bottom {
  border-top: 0.0625rem solid var(--gray-800);
}
#footer .container .bottom p {
  color: var(--gray-400);
}
#footer .container .bottom .right a {
  text-decoration: none;
  color: var(--gray-400);
}
#footer .container .bottom .right a:hover {
  color: var(--lime-500);
}
@keyframes spin_R_TO_L {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes spin_L_TO_R {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}/*# sourceMappingURL=index.css.map */