:root {
  --lime-500: #cbfe1c;
  --bg-hover: #a4ce1a;

  --dark-900: #0b0e13;
  --dark-950: #101624;

  --gray-100: #f1f1f1;
  --gray-200: #d1d5dc;
  --gray-400: #99a1af;
  --gray-700: #364153;
  --gray-800: #1e2939;
  --gray-900: #1a1a1a;

  --green-500: #0adf72;

  --slate-800: #1e2939;

  --pad: 4.6875rem;
  --pad-mid: 3.125rem;
}

@media (max-width: 62rem) {
  #main {
    #header {
      padding-block: 6.25rem;
      .container {
        & > div {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          row-gap: 3.125rem;
          .leftHeader {
            text-align: center;
            width: 100%;

            h1 {
              font-size: 3rem;
            }

            p {
              max-width: 100%;
            }

            .btnHeader {
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
            }
          }

          .rightHeader {
            width: 65%;
          }
        }
      }
    }

    #OUR-GAMES {
      .container {
        #carouselExampleAutoplaying {
          .carousel-inner {
            .carousel-item {
              .row {
                height: 20rem;
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    #OUR-GAMES,
    #WHAT-WE-DO,
    #OUR-TEAM,
    #CONTACT-US {
      padding-block: var(--pad-mid);
    }
  }
}

@media (max-width: 48rem) {
  .section-name-global {
    & > span:first-child {
      font-size: 0.8125rem;
    }

    h2 {
      font-size: 2.125rem;
      margin-top: 0.9375rem;
    }
  }

  #main {
    #header {
      .container {
        & > div {
          .rightHeader {
            width: 100%;
          }
        }
      }
    }

    #OUR-GAMES {
      padding-block: var(--pad-mid);

      .container {
        #carouselExampleAutoplaying {
          .carousel-inner {
            margin-bottom: 1.875rem;

            .carousel-item {
              .row {
                height: 32.5rem;
                overflow: hidden;

                & > div {
                  .inner {
                    height: 31.25rem;
                  }
                }
              }
            }
          }

          div:last-child {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            .btns {
              gap: 0.9375rem;

              button {
                width: 2.8125rem;
                height: 2.8125rem;
                font-size: 1rem;
              }
            }

            a {
              width: 100%;
              padding: 0.75rem;
              font-size: 0.75rem;
              font-weight: 700;
            }
          }
        }
      }
    }

    #WHAT-WE-DO {
      padding-block: var(--pad-mid);
    }

    #scroll-WHAT-WE-DO {
      background-image: -o-linear-gradient(transparent, #a6d01b, transparent);
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        color-stop(#a6d01b),
        to(transparent)
      );
      background-image: linear-gradient(transparent, #a6d01b, transparent);
      padding-inline: 1.875rem;
      height: 21.875rem;

      &::after {
        width: 60%;
      }

      .scroll {
        .group {
          img {
            height: 5.25rem;
          }
        }
      }

      .scroll-1 {
        .group {
          -webkit-animation: spin_R_TO_L 40s linear infinite;
          animation: spin_R_TO_L 40s linear infinite;
        }
      }

      .scroll-2 {
        .group {
          -webkit-animation: spin_L_TO_R 40s linear infinite;
          animation: spin_L_TO_R 40s linear infinite;
        }
      }
    }
  }

  #footer {
    .container {
      & > div:first-child {
        .box:first-child {
          span {
            font-size: 1.1875rem;
          }

          p {
            font-size: 0.9375rem;
          }

          .social {
            a {
              i {
                font-size: 0.9375rem;
              }
            }
          }
        }

        .box:not(.box:first-child) {
          h5 {
            font-size: 1.1875rem;
          }

          .links {
            a {
              font-size: 0.9375rem;
            }
          }
        }
      }

      .bottom {
        p {
          font-size: 0.9375rem;
        }

        .right {
          a {
            font-size: 0.9375rem;
          }
        }
      }
    }
  }
}

@media (max-width: 35.9375rem) {
  .section-name-global {
    & > span:first-child {
      font-size: 0.75rem;
    }

    h2 {
      font-size: 1.625rem;
      margin-top: 0.9375rem;
    }

    p {
      font-size: 1.3125rem;
    }
  }

  #main {
    #header {
      .container {
        & > div {
          .leftHeader {
            h1 {
              font-size: 2rem;
            }

            p {
              font-size: 0.75rem;
            }

            .btnHeader {
              a {
                width: 100%;
                padding-block: 0.75rem;
                font-size: 0.75rem;
              }
            }
          }

          .rightHeader {
            width: 100%;

            .cardHeader {
              -webkit-transform: translate(-0.625rem, -3.75rem);
              -ms-transform: translate(-0.625rem, -3.75rem);
              transform: translate(-0.625rem, -3.75rem);
              padding: 0.8125rem 1.125rem;
              gap: 0.3125rem;

              i {
                font-size: 1rem;
              }

              .cardContent {
                span {
                  font-size: 0.5625rem;
                }

                p {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }

    #WHAT-WE-DO {
      .container {
        .section-name-global {
          h2,
          p {
            font-size: 1.3125rem;
          }
        }

        .row {
          & > div {
            .inner {
              .icon {
                height: 2.5rem;
                width: 2.5rem;
                font-size: 1.0625rem;
                margin-bottom: 0.6875rem;
              }

              h3 {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 25rem) {
  .section-name-global {
    & > span:first-child {
      font-size: 1rem;
    }

    h2 {
      font-size: 2.8125rem;
      margin-top: 0;
    }

    p {
      font-size: 1rem;
    }
  }

  #main {
    #CONTACT-US {
      .row {
        & > div:first-child {
          .inner {
            .cards:not(.cards:last-child) {
              .icon {
                height: 3.5rem;
                width: 3.5rem;
                font-size: 1.2625rem;
              }

              .content {
                h5 {
                  font-size: 1.15rem;
                }

                p {
                  font-size: 0.9rem;
                }
              }
            }
          }
        }

        & > div:last-child {
          form {
            .checkbox {
              gap: 10px;
              input {
                -webkit-transform: scale(1.4);
                -ms-transform: scale(1.4);
                transform: scale(1.4);
              }

              label {
                font-size: 0.775rem;
              }
            }
          }
        }
      }
    }
  }
}
